
!!!
%html
  %head
    %link{href: "https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css", rel: "stylesheet"}
    %title
      Daily MtG Puzzle
  %body.bg-light-gray.sans-serif.pv4
    .bg-white.shadow-4.center.w-100.mw10.pa4.bw1.ba.b--black
      != yield
